In [17]:
sc.master

'local[*]'

In [18]:
sc = spark.sparkContext

path ="/user2/students.csv"

In [19]:
body = spark.read.csv(path)

In [20]:
body.show()

+---+--------------+----------+------+
|_c0|           _c1|       _c2|   _c3|
+---+--------------+----------+------+
| id|number_courses|time_study| marks|
|  1|             3|     4.508|19.202|
|  2|             4|     0.096| 7.734|
|  3|             4|     3.133|13.811|
+---+--------------+----------+------+

In [21]:
body.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [22]:
body.createOrReplaceTempView("body")

In [23]:
# Display the structure of Schema
body.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [24]:
#Create a DataFrame for a JSON dataset
jsonStrings = body.toJSON()
jsonDF = spark.read.json(jsonStrings)

# Show the resulting DataFrame
jsonDF.show()

+---+--------------+----------+------+
|_c0|           _c1|       _c2|   _c3|
+---+--------------+----------+------+
| id|number_courses|time_study| marks|
|  1|             3|     4.508|19.202|
|  2|             4|     0.096| 7.734|
|  3|             4|     3.133|13.811|
+---+--------------+----------+------+